DISCORD_TOKEN=여기에_봇_토큰
SYNC_GUILD_ID=
GUILD_IDS=1352691962817548360,1358747276754817074
DAILY_REWARD=100
VOICE_REWARD=100
VOICE_NO_MIC_REWARD=50
TIMEZONE=Asia/Seoul
DATABASE_PATH=data/economy.sqlite3
DATABASE_URL=
SUPABASE_ADMIN_DATABASE_URL=
